*.*.un~
*.a
*.bz2
*.gz
*.o
*.pyc
*.pyo
*.sublime-project
*.sublime-workspace
*.tbz
*.tbz2
*.tgz
*.Z
*~
.bundle
.chef
.DS_Store
.Python
.rake_tasks
bin
include
lib
node_modules
pip-selfcheck.json
vendor
